/* Webfont: OpticianSans-Regular */@font-face {
    font-family: 'OpticianSans';
    src: url('Optiker-K.woff2') format('woff2'), /* Modern Browsers */
         url('Optiker-K.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

